$primary-color:hsl(231deg 60% 57%);
$secondary-color:hsl(231deg 44% 94%);
$accent-color:hsl(360deg 95% 66%);
$text-color:hsl(231deg 30% 17%);
$text-color-d:rgb(98, 98, 98);
$text-color-l:hsl(232deg 4% 62%);


$border-radius:6px;

@mixin media($endpoint) {
    @media screen and (max-width:$endpoint) {
        @content;
    }
}